# Ignore everything in the root
/*

# IDE
.idea

# GIT
!.gitignore
!README.md
!LICENSE

# Docker folders
!Makefile
!.env
!/conf/
!/docs/
!/www/.gitkeep
!docker-compose.yml
# !/data/mysql/.gitkeep
# !/logs/apache/.gitkeep
# !/logs/mysql/.gitkeep