# Ignore everything in the root
#/*

# IDE
.idea

# GIT
!.gitignore
!README.md
!LICENSE

# Docker folders
!/assets/
!/data/mysql/.gitkeep
!/docs/
!/logs/apache/.gitkeep
!/logs/mysql/.gitkeep
!/www/index.php
!docker-compose.yml