# Ignore everything in the root
/*

# IDE
.idea

# GIT
!.gitignore
!README.md
!LICENSE

# Docker folders
!.env
!/conf/
# !/data/mysql/.gitkeep
!/docs/
# !/logs/apache/.gitkeep
# !/logs/mysql/.gitkeep
!/www/.gitkeep
!docker-compose.yml